/* Estilos generales para el contenedor de registro */
.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(45deg, #004d40, #e0f2f1);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
  position: relative; /* Asegúrate de que el contenedor tenga un contexto de posicionamiento */
}

/* Estilo para el título del formulario con animación */
.registro-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00796b;
  opacity: 0; /* Inicialmente invisible */
  animation: zoom-in 0.5s ease-out forwards; /* Aplica la animación */
}

/* Estilo para el formulario con animación de zoom-in */
.registro-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.8); /* Inicialmente escalado a 80% */
  opacity: 0; /* Inicialmente invisible */
  animation: zoom-in 0.5s ease-out forwards; /* Aplica la animación */
}

/* Estilo para los grupos de campos del formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilo para las etiquetas de los campos */
.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
}

/* Estilo para los campos de entrada */
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para el grupo de contraseñas con el botón de mostrar/ocultar */
.password-group {
  position: relative;
}

.password-group input {
  padding-right: 60px; /* Espacio para el botón de mostrar/ocultar */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #00796b;
  cursor: pointer;
  font-size: 0.9rem;
}

/* Estilo para el botón de envío del formulario */
.registro-button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registro-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.registro-button:hover:not(:disabled) {
  background-color: #00796b;
}

/* Estilo para el mensaje de error */
.error-message {
  color: #ff0000;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Estilo para el contenedor de los toasts */
.Toastify__toast-container {
  font-size: 0.9rem;
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-out {
  animation: zoom-out 1s ease-out forwards;
}

.registro-title, .registro-form, .login-button {
  /* Ensure these elements apply the animation */
  transition: opacity 1s ease-out, transform 1s ease-out;
}


/* Estilo para el enlace de cambio de modo */
.toggle-link {
  color: #000000; /* Color del enlace para cambiar de modo */
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  opacity: 0; /* Inicialmente invisible */
  animation: zoom-in 0.5s ease-out forwards; /* Aplica la animación */
}

.toggle-link a {
  text-decoration: none;
  color: #00796b; /* Color del enlace interno */
}

.toggle-link a:hover {
  text-decoration: underline;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
